@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.4s ease;
}

.animate-fade-out-up {
  animation: fade-out-up 0.4s ease;
}
